%footer.content-info
  %div.container
    %p#copy
      &copy;
      - echo '2008/'.date('Y').' - '.get_bloginfo('name') . ' - CDN offered by <a href="https://www.maxcdn.com/">MaxCDN</a>'

- wp_footer()
