%div.social
	%ul
		%li
			%a.pulse-shrink.social-facebook(href="http://www.facebook.com/Mte90" target="_blank" data-text="<?php _e(\"I don't add people that don't know, so put up else I will not accept your request!\", 'roots') ?>")
		%li
			%a.pulse-shrink.social-twitter(href="http://twitter.com/Mte90Net" target="_blank")
		%li
			%a.pulse-shrink.social-google(href="https://plus.google.com/u/0/+DanieleScasciafratteMte90Net/" target="_blank")
		%li
			%a.pulse-shrink.social-github(href="https://github.com/Mte90")
		%li
			%a.pulse-shrink.social-linkedin(href="http://it.linkedin.com/pub/daniele-scasciafratte/49/b97/33/" target="_blank" data-text="<?php _e(\"I don't add people that don't know, so put up else I will not accept your request!\", 'roots') ?>")
		%li
			%a.pulse-shrink.social-youtube(href="http://www.youtube.com/user/Mte90lp" target="_blank")
		%li
			%a.pulse-shrink.social-mozillians(href="https://mozillians.org/u/Mte90/" target="_blank")
		%li
			%a.pulse-shrink.social-feed(href="<?php echo home_url() . '/feed' ?>" target="_blank" data-text="This site is multilanguage (Italian and English) pick your feed:<br><br><b>Italian - http://mte90.net/feed/</b><br><b>English - http://mte90.net/en/feed/</b>")
		
%header.banner.navbar.navbar-default.navbar-static-top(role="banner")
	%div.container-fluid
		%div.slogan
			Daniele "Mte90" Scasciafratte - 
			%ul
				%li
					<?php _e("The Eternauta Geek", 'roots'); ?>
				%li
					<?php _e("Wordpress Coder", 'roots'); ?>
				%li
					<?php _e("Debian Sid User", 'roots'); ?>
				%li
					<?php _e("Open Source Evangelist", 'roots'); ?>
				%li
					<?php _e("Serious Comics Collector", 'roots'); ?>
				%li
					<?php _e("Mozilla Reps", 'roots'); ?>
				%li
					<?php _e("KDE/Qt Addicted", 'roots'); ?>
				%li
					<?php _e("Speaker - mte90.github.io", 'roots'); ?>
		%nav.menu(role="navigation")
			:php
				if (has_nav_menu('primary_navigation')) {
					wp_nav_menu(array('theme_location' => 'primary_navigation', 'menu_class' => 'nav navbar-nav', 'walker' => new Roots_Nav_Walker()));
				}